
.hero-text-layer .brand-item {
  margin: 0 !important; 
  flex-direction: row !important;
}

.brand-strip .brand-item img {
  height: 40px !important; 
  transform: none !important; 
}


@keyframes moveBrands {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}